logs
*.log
npm-debug.log*

**/node_modules/

*.js

.npm/

.env

dist/
build/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

tmp/
temp/

coverage/

*.tsbuildinfo

yarn.lock
package-lock.json
*.sqlite
*.sqlite3
*.db

docker-compose.override.yml

Procfile

# Elastic Beanstalk Files
/.elasticbeanstalk
**/.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/