logs
*.log
npm-debug.log*

**/node_modules/


.npm/

.env

dist/
build/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

tmp/
temp/

coverage/

*.tsbuildinfo

yarn.lock
package-lock.json
*.sqlite
*.sqlite3
*.db

docker-compose.override.yml

Procfile

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
